<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This is a practice web app in node js</p>
        <img class="portrait" src="/img/me.png">

        <p>Thanks for whatching</p>
    </div>
    
    {{>footer}}
</body>

</html>